    header.inicio {
            padding: 0px;
            margin: 0px;
            background-image:url("https://i.imgur.com/Xz0AglC.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 200px;
            color: #2b08a8;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 25px;
            border: rgb(4, 155, 160) solid 1px;
        }
        body {
            padding: 0px;
            margin: 0px;
            background-color: white;
            text-align: center;
            color:rgb(43, 8, 168);
            
        }
        h2 {
            text-align: center;
            color:rgb(43, 8, 168);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 18px;

        }

        .container {
            max-width: 800px;
            background: #f5f0f0;
            margin: 40px auto;
            padding: 30px;
            border-radius: 12px;
            border: rgb(4, 155, 160) solid 3px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        .divbutton {
            margin: 40px auto;
            padding: 30px;
            border-radius: 12px;
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        label {
      display: block;
      font-weight: 600;
      margin-top: 20px;
    }

    input {
        width: 90%;
        height: 25px;
        background-color: #fff;
        border-color:  rgb(4, 155, 160) ;
        border-radius: 12px;
        border-style: solid;
    }
    button {
        background-color: rgb(4, 155, 160) ;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 16px;
        display: block;
        border-radius: 12px;
        height: 28px;
    }
    button:hover {
        color: rgb(4, 155, 160) ;
        background-color: white;
    }
